[graph]
all-features = true

[advisories]
version = 2
ignore = []

[licenses]
version = 2
allow = [
    "MIT",
    "Apache-2.0"
]
confidence-threshold = 0.8
exceptions = [
    { allow = ["Unicode-DFS-2016"], crate = "unicode-ident" },
    { allow = ["MPL-2.0"], crate = "colored" },
    { allow = ["Apache-2.0 WITH LLVM-exception"], crate = "target-lexicon" }
]

[bans]
multiple-versions = "deny"
skip = [
    { name = "syn", version = "1.0" },
    { name = "windows-targets", version = "0.48" },
    { name = "windows_aarch64_gnullvm", version = "0.48" },
    { name = "windows_aarch64_msvc", version = "0.48" },
    { name = "windows_i686_gnu", version = "0.48" },
    { name = "windows_i686_msvc", version = "0.48" },
    { name = "windows_x86_64_gnu", version = "0.48" },
    { name = "windows_x86_64_gnullvm", version = "0.48" },
    { name = "windows_x86_64_msvc", version = "0.48" },
]

[sources]
unknown-registry = "warn"
unknown-git = "warn"
